SimpleMVVM/Service References/EmployeeServiceClient/EmployeeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="services.web.simplemvvm" elementFormDefault="qualified" targetNamespace="services.web.simplemvvm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3799/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SimpleMVVM.Web" />
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SimpleMVVM.Web" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q1:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>